<template>
	<div class="example">
		<h1>{{ message }}</h1>
	</div>
</template>

<script>
	
export default {
	data() {
		return {
			message: 'Hello World'
		};
	}
}


</script>

<style lang="scss">
	.example {
		background: olive;
	}


</style>